.markOfQuality {
  color: purple;
}

.phoneCallButton {
  display: inline-flex;
  justify-content: flex-end;
}

.phoneCallFunnel {
  display: inline-flex;
  justify-content: space-between
}

.phoneCallText {
  display: inline-flex;
  justify-content: flex-start;
}

.parallax-wire-edm {
  /* The image used */
  background-image: url("../images/wire-edm-01.jpg");

  /* Set a specific height */
  height: 700px;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-cnc {
  /* The image used */
  background-image: url("../images/CNCMachine.jpg");

  /* Set a specific height */
  height: 700px;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-wire-edm-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  text-align: center;
  color: white;
}

.parallax-surface-grinding {
  /* The image used */
  background-image: url("../images/surfaceGrindingMachine.jpg");

  /* Set a specific height */
  height: 700px;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-milling {
  /* The image used */
  background-image: url("../images/millingMachine.jpg");

  /* Set a specific height */
  height: 700px;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}